
@model Product
<form method="post">
    <div class="mb-3">
        <label>Name</label>
        <input class="form-control" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label>Description</label>
        <input class="form-control" asp-for="Description">
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="mb-3">
        <label>Price</label>
        <input class="form-control" asp-for="Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="mb-3">
        <label>Discount</label>
        <input class="form-control" asp-for="Discount">
        <span class="text-danger" asp-validation-for="Discount"></span>
    </div>
    <div class="mb-3">
        <label>StockCount</label>
        <input class="form-control" asp-for="StockCount">
        <span class="text-danger" asp-validation-for="StockCount"></span>
    </div>
    <div class="mb-3">
        <label>Raiting</label>
        <input class="form-control" asp-for="Raiting">
        <span class="text-danger" asp-validation-for="Raiting"></span>
    </div>
    <div class="mb-3">
        <label>Raiting</label>
        <input class="form-control" asp-for="Raiting">
        <span class="text-danger" asp-validation-for="Raiting"></span>
    </div>
    <div class="mb-3">
        <label>MainImageUrl</label>
        <input class="form-control" asp-for="MainImage">
        <span class="text-danger" asp-validation-for="MainImage"></span>
    </div>
    <div class="mb-3">
        <label>HoverImageUrl</label>
        <input class="form-control" asp-for="HoverImage">
        <span class="text-danger" asp-validation-for="HoverImage"></span>
    </div>
    <div class="mb-3">
        <label>ProductImagesUrl</label>
        <input class="form-control" asp-for="ProductImages">
        <span class="text-danger" asp-validation-for="ProductImages"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
